<div class="row product-line">
  <div class="span2">
    <%= f.text_field :quantity, label: false, control_group: false, placeholder: "Cantidad", class: "input-block-level" %>
  </div>
  <div class="span6">
    <%= f.text_field :product, label: false, control_group: false, placeholder: "Producto", class: "input-block-level" %>
  </div>
  <div class="span2">
    <%= f.text_field :price, label: false, control_group: false, placeholder: "Precio", class: "input-block-level" %>
  </div>
  <div class="span2">    
    <%= f.link_to_remove "Quitar producto" %>
  </div>
</div>
