/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "*";

.tt-dropdown-menu {
    display: inline-block;
    padding: $padding-base-vertical $padding-base-horizontal;
    margin-bottom: $line-height-base / 2;
    line-height: $line-height-base;
    vertical-align: middle;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition(border linear .2s, box-shadow linear .2s);
    min-width: 120px;
    margin-top: 12px;
    background-color: $dropdown-bg;
    border: 1px solid $dropdown-border;
    @include border-top-radius($border-radius-base);
    @include border-right-radius($border-radius-base);
    @include border-bottom-radius($border-radius-base);
    @include border-left-radius($border-radius-base) ;
}

.tt-cursor {
    color: $component-active-color;
    background-color: $component-active-bg;
    padding-left: 4px;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition(border linear .2s, box-shadow linear .2s);
    @include border-top-radius($border-radius-base);
    @include border-right-radius($border-radius-base);
    @include border-bottom-radius($border-radius-base);
    @include border-left-radius($border-radius-base) ;
}

.twitter-typeahead {
    width: 100%;
}