<!DOCTYPE html>
<html>
<head>
  <title>EcoFamily</title>
  <%= stylesheet_link_tag "cuscosky" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
